
.constraint-layout2{
  width: 600px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.constraint-layout3{
  width: 100px;
  height: 0px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.change-nav-js{
  display: grid;
}

.inline-div {
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
  box-sizing: border-box;
}

.login{
  padding: 20px 20px 20px;
}

.text-view {
  color: #000000;
  margin-bottom: 10px;
}

.edit-text {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  padding: 5px;
  text-align: center;
  color: #000000;
  background-color: white;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
 
}

.button {
  width: fit-content;
  height: fit-content;
}


button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.forgot-password-js{
  text-align: left;
  color: #4000ff;
  margin-left: 100px;
  cursor: pointer;
}

.register-js{
  color: #4000ff;
  cursor: pointer;
}

.myClass{
  transition: top 0.3s ease;
  margin-bottom: 18px;
  color: blue;
}

@media only screen and (max-width: 500px) {
  html {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    height: 70%;
    width: 70%;
    font-size:medium;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .constraint-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .constraint-layout {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
}
