
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.constraint-layout {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login{
  padding: 20px 20px 20px;
}

.text-view {
  color: #000000;
  margin-bottom: 10px;
}

.edit-text {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  padding: 5px;
  text-align: center;
  color: #000000;
  background-color: white;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
 
}

.button {
  width: fit-content;
  height: fit-content;
}


button {
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
}

.myClass{
  transition: top 0.3s ease;
  margin-bottom: 18px;
  color: blue;
}

